// Paletton UID 52P0u0kllll9+-GfFrsr0fey397
darkest-green = #003a00
darker-green = #0f610f
main-green = #2d882d
light-green = #59af59
lighest-green = #92d392

background-gray = #eee

body 
    font-family "Segoe UI", "Lucida Grande", Tahoma, sans-serif
    font-size 100%
    background-color background-gray
    margin 0
    h1
        font-size 200%
        margin 0 0 2rem 0
        padding 1rem
        background-color main-green
        text-align center
        border-radius 0
        box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h3
        margin 1rem 0 1rem 0.5rem
    textarea
        margin 0 0.5rem
    .radio_buttons
        display flex
        flex-direction row
        margin 1rem 0rem
        .radio_button
            margin: 0 0.5rem
            display inline-block
    button
        color white
        display block
        background-color main-green
        padding 1rem 2rem
        font-size 16px
        text-decoration none
        margin 1rem 0.5rem
        border none
        border-radius 0.3rem
        display block
    #message
        margin 0 0.5rem

#status 
    /* avoid an excessively wide status text */
    white-space pre
    text-overflow ellipsis
    overflow hidden
    max-width 400px
    