html
    box-sizing border-box

*, *:before, *:after
    box-sizing inherit

body
    background-color #EDDDD4
    font-family "Titillium Web", Arial, sans-serif
    font-size 20px
    margin 0

.container
    position fixed
    top 40%
    left 50%
    display flex
    flex-direction column
    -webkit-transform translate(-50%, -50%)
    
#logo
    margin auto
    font-size 6rem
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color black

.input__container
    display flex
    margin auto
    width 400px

input
    background-color #EEEEEE
    border 1px solid #3F7F93
    color black
    font-family "Titillium Web"
    font-size 20px
    line-height 43px
    padding 0 0.75em
    width 400px
    -webkit-transition all 0.35s ease-in

textarea
    background-color #070F24
    border 1px solid #122435
    color #606B88
    padding 0.5em
    width 100%
    -webkit-transition all 0.35s ease-in

input:active, input:focus, textarea:active, textarea:focus
    outline 1px solid #929487

.btn
    background-color #6B6054
    border 1px solid #929487
    color black
    cursor pointer
    display inline-block
    font-family "Titillium Web"
    font-size 20px
    font-weight 700
    line-height 43px
    padding 0 0.75em
    text-align center
    text-transform uppercase
    -webkit-transition all 0.35s ease-in
    &:hover
        background-color #929487
        color #183035

.debug
    bottom 0
    position fixed
    right 0

.debug__content
    font-size 14px
    max-height 0
    overflow hidden
    -webkit-transition all 0.35s ease-in
    &.is-active
        display block
        max-height 200px

.debug__btn
    width 100%

.spoken-response
    max-height 0
    overflow hidden
    -webkit-transition all 0.35s ease-in
    &.is-active
        max-height 400px

.spoken-response__text
    background-color #EEE
    color #222
    padding 2em
    overflow hidden
    resize none
    height 20rem
    width 400px
    font-size 1rem
    margin 0.5rem 0rem