html
  head
    title Investormate
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript')
    script(src='../js/app.min.js')
    link(rel='stylesheet' href="/css/stylesheet.css")
    link(rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/resources/favicon.ico" type="image/x-icon")
  body
    .container
      h1#logo Investormate
      #response.response
        textarea.response__text(readonly)
      .input__container
        input#input(type='text' placeholder="Talk to me here...")
        button#go.btn GO
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:200', rel='stylesheet', type='text/css')
